<%= form_with(model: enologo, local: true) do |form| %>
  <% if enologo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enologo.errors.count, "error") %> prohibited this enologo from being saved:</h2>

      <ul>
      <% enologo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :edad %>
    <%= form.text_field :edad %>
  </div>

  <div class="field">
    <%= form.label :nacionalidad %>
    <%= form.text_field :nacionalidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
