<p id="notice"><%= notice %></p>

<h1>Enologos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edad</th>
      <th>Nacionalidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enologos.each do |enologo| %>
      <tr>
        <td><%= enologo.name %></td>
        <td><%= enologo.edad %></td>
        <td><%= enologo.nacionalidad %></td>
        <td><%= link_to 'Show', enologo %></td>
        <td><%= link_to 'Edit', edit_enologo_path(enologo) %></td>
        <td><%= link_to 'Destroy', enologo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enologo', new_enologo_path %>
