<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enologo.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @enologo.edad %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @enologo.nacionalidad %>
</p>


<% @enologonewspapers.each do |enp| %>
	<p><%= enp.newspaper.name %></p>
	<p><%= enp.cargo %></p>
	<%= link_to 'Destroy', enologonewspaper_path(enp), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<%= form_tag enologonewspapers_path do  %>

	<%= hidden_field_tag 'enologo', @enologo.id %>

	<%= select_tag "newspaper", options_from_collection_for_select(@newspapers, "id", "name", "1") %>

	<br>
	<% @cargos.each_with_index do |c , index| %>
		<%= check_box_tag "cargos_ids[]" , c  %>
		<label><%= "#{index + 1}) #{c}" %></label>
	<% end %>

	<%= submit_tag "Guardar" %>
	<br>
<% end %>


<%= link_to 'Edit', edit_enologo_path(@enologo) %> |
<%= link_to 'Back', enologos_path %>
