<nav>
	<%= link_to 'Wine' , wines_path %>
	||
	<%= link_to 'Strain' , strains_path %>
	||
	<%= link_to 'Assembly' , strain_wines_path %>
	<br>
	<%= link_to 'Revistas' , newspapers_path %>
	||
	<%= link_to 'Enologos' , enologos_path %>
	||
	<%= link_to 'Enologos_Revistas' , enologonewspapers_path %>
	
</nav>